@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*************GLOBAL*****************/
html
{
    scroll-behavior: smooth;
}
*
{
    box-sizing: border-box;
}

.container
{
    width: 70%;
    margin: auto;
}
.clear
{
    clear: both;
}
/*****************HEADER*********************/
.cover
{
    background-image: url(../imgs/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 650px;
    width: 100%;
    filter: grayscale(30%);
    -webkit-filter: grayscale(30%);
}
.cover .cover_header
{
    color: #ffffff;
    text-align: center;
    padding-top: 250px;
    font-family: 'Cairo', sans-serif;
}
.cover .cover_header h3 , h1
{
    text-transform: uppercase;
    letter-spacing: 3px;
}
.cover .cover_header h1
{
    font-size: 44px;
}
.cover .cover_header h3
{
    font-size: 16px;
}
.cover .cover_header p
{
    white-space: pre-line;
    word-spacing: 4px;
}
.cover .cover_header button
{
    border: 2px solid white;
    background-color: transparent;
    padding: 6px 46px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 15px;
    transition: 0.3s  all ease;
    -webkit-transition: 0.3s  all ease;
    -moz-transition: 0.3s  all ease;
    -ms-transition: 0.3s  all ease;
    -o-transition: 0.3s  all ease;
    cursor: pointer;
}
.cover .cover_header button:hover
{
    color: black;
    background-color: #ffffff;
}
/***********************SECTION-ONE**************************************/
.galaxy_cover
{
    background-image: url(../imgs/services-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}
.galaxy_cover .galaxy_content
{
    float: left;
    width: 33%;
    color: #ffffff;
    margin-top: 80px;
    font-family: 'Cairo', sans-serif;

}
.galaxy_cover .galaxy_content .material-icons
{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #4242ff;
    padding: 13px;
    margin-left: 130px;
}
.galaxy_cover .galaxy_content h3
{
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
}
.galaxy_cover .galaxy_content p
{
    white-space: pre-line;
    font-size: 14px;
    text-align: center;
}
/**************************section-two***************************************/
.our-client .client-img
{
    background-image: url(../imgs/david.png);
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 250px;
}
.client-content {
    margin-left: 298px;
    padding-top: 69px;
}
.client-content > h1 , h3
{
    font-family: 'Cairo', sans-serif;

}
.client-content > h3
{
    color: #058BCE;
    font-weight: 500;
    text-transform: capitalize;
}
.client-content p
{
    white-space: pre-line;
    font-family: 'Cairo', sans-serif;
    color: grey;
    line-height: 21px;
}
.client-content  .material-icons
{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #058BCE;
    padding: 8px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -ms-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
}
.client-content .material-icons:hover
{
    color: #ffffff;
    background-color: #4242ff;
}
/*******************************SECTION-THREE********************************************/
.gallery
{
    background-color: #ECECEC;
    height: 500px;
}
.gallery .buttons
{
    padding-top: 200px;
    text-align: center;
}
.gallery button
{
    border: none;
    background-color: #058BCE;
    color: #ffffff;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}
.gallery button:hover
{
    color: black;
    background-color: #4242ff;
    transform: scaleY(0.9);
    -webkit-transform: scaleY(0.9);
    -moz-transform: scaleY(0.9);
    -ms-transform: scaleY(0.9);
    -o-transform: scaleY(0.9);
}
.gallery .photos
{
    margin-top: 50px;
    margin-left: 50px;
    height: 400px;
}

.gallery img
{
    width: 23%;
    padding-right: 20px;
    transition: 1s all ease-out;
    -webkit-transition: 1s all ease-out;
    -moz-transition: 1s all ease-out;
    -ms-transition: 1s all ease-out;
    -o-transition: 0.2 all ease;
}

.gallery .photos img:hover
{
   transform: scale(0.9);
   -webkit-transform: scale(0.9);
   -moz-transform: scale(0.9);
   -ms-transform: scale(0.9);
   -o-transform: scale(0.9);
   filter: drop-shadow(2px 5px 9px black);
   -webkit-filter: drop-shadow(2px 5px 9px black);
}
/*********************************SECTION-FOUR*******************************************/
.prices
{
    margin-top: 400px;
}
.prices .prices-content
{
    width: 1100px;
    
}
.prices .cards
{
    float: left;
    width: 30%;
    text-align: center;
    color: #798991;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background-color: #F7F7F7;
    height: 450px;
}

 .prices .cards:nth-child(2)
{
    margin-left: 10px;
    margin-right: 10px;
} 
.prices .cards .edit
{
    background-color: #058BCE;
    padding: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.prices .cards .edit > h1
{
    font-weight: 300;
}
.prices .cards .edit > span
{
    font-size: 30px;
}
.prices .cards .edit > span::before
{
    content: "$";
}
.prices .cards .color
{
    background-color: #d3d3d3;
    padding: 6px;
}
.prices .prices-content .cards button
{
    background-color: #058BCE;
    border: none;
    padding: 15px;
    color: #ffffff;
    margin-top: 10px;
    font-family: 'Cairo' , sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
}
.prices .prices-content .cards button:hover
{
    background-color: #4242ff;
    color: black;
}
/***********************************SECTION-FIVE*********************************************************/
.companies 
{
    background-color: #ECECEC;
    margin-top: 100px;
    height: 200px;
}
.companies .logo-pic 
{
    /* width: 16%; */
    margin: 3% auto;
}

.companies .logo-pic img
{
    float: left;
    width: 11%;
    padding: 5% 1%;
    margin-left: 69px;
}
/*********************************************SECTION-SIX*********************************************/
.comment .background
{
    background-color: #4242ff;
    height: 450px;
}
.comment .background .double-comment
{
   display: flex;
   width: 105%;
   position: relative;
   top: 160px;
}
.comment .comment-header:last-child
{
    margin-left: 20px;
}
.comment .comment-header
{
    float:  left;
    background-color: #ffffff;
    width: 55%;
    padding: 0 20px;
    display: flex;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: 0.5s all ease ;
    -webkit-transition: 0.5s all ease ;
    -moz-transition: 0.5s all ease ;
    -ms-transition: 0.5s all ease ;
    -o-transition: 0.5s all ease ;
}
.comment .comment-pic img
{
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    width: 80px;
    padding-top: 15px;
}
.comment .comment-header .comment-p
{
    color: gray;
    font-family: 'Cairo' , sans-serif;
    padding-left: 20px;
    padding-bottom: 30px;
    text-align: left;
}
.comment .comment-header .comment-p p
{
    white-space: pre-line;
}
.comment .comment-header .comment-p  span
{
    padding-left: 100px;
    padding-top: 47px;
    text-transform: capitalize;
}
.comment .comment-header:hover
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    filter:drop-shadow(2px 5px 9px black);
    -webkit-filter:drop-shadow(2px 5px 9px black);
}
/*********************************SECTION-SEVEN****************************************/
.contact-us
{
    background-image: url(../imgs/contact-img.png);
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
}
.contact-us .overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2b1e1ba6;
}

.contact-us .contact-content .contact
{
    display:flex;
    margin-left: 500px;
    margin-top: 40px;

}
.contact-us .contact-content .address > p
{
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
}
.contact-us .contact-content .email-me > h4
{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.contact-us .contact-content .email-me > p
{
    color:  #0498e3;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.contact-us .overlay .contact-content input
{
    display: block;
    height: 45px;
    width: 450px;
    margin-bottom: 20px;
    font-family: 'Cairo' , sans-serif;
    padding: 25px;

}
.contact-us .overlay .contact-content button
{
    border: none;
    background-color: #058BCE;
    color: #ffffff;
    padding: 15px 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}
.contact-us .overlay .contact-content #message
{
    width: 450px;
    text-align: left;
    padding: 40px 20px 200px;
    display: block;
}
.contact-us .overlay .contact-content button:hover
{
    background-color: #057fbd;
    color: black;
}
.contact-us .overlay .contact-content input::placeholder
{ 
    text-transform: capitalize;
}
/***********************************FOOTER*********************************************/
footer
{
    background-color: black;
    height: 300px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 60px;
}
.footer-content > p
{
    text-align: center;
    font-size: 17px;
    width: 85%;
}
.footer-content .material-icons
{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #4242ff;
    padding: 13px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}
.footer-content .material-icons:hover
{
    background-color: #058BCE;
    color: black;
}
.footer-content p:last-child
{
    color: grey;
    text-align: left;
    text-transform: capitalize;
}
.footer-content span
{
    color: #057fbd;
}
/*****************************HEADER-MEDIA*******************************************/
@media (min-width: 50px) and (max-width: 700px) {
    .cover
    {
        width: 181%;
    }
    .cover_header 
    {
        font-size: 11px;
        padding: 10px 40px;
    }
}
/**********************************GALAXY-MEDIA*******************************************************/
@media (min-width: 291px) and (max-width: 590px) {
    .galaxy_cover
    {
        width: 100%;
    }
    .galaxy_cover .galaxy_content
    {
        width: 27%;

    }
    .galaxy_cover .galaxy_content .material-icons
    {
        margin-left: 35%;
    }   
}

@media (min-width: 700px) and (max-width: 1150px) {
    
    .galaxy_cover .galaxy_content .material-icons 
    {
        margin-left: 35%;
    }
}
@media (min-width: 290px) and (max-width: 782px) {
    .galaxy_cover 
    {
        width: 100%;
    }
    .galaxy_cover .galaxy_content .material-icons 
    {
        margin-left: 35%;
    }
}
/*******************************CLIENT-MEDIA****************************************/
@media (min-width:500px) and (max-width: 900px)  {
    .our-client {
        width: 211%;
    }
}
@media  (min-width: 200px) and (max-width: 782px) {
    .our-client {
        width: 100%;
    }
    .client-content
    {
        width: 60%;
    }
    .client-content > p
    {
        width: 100%;
        font-size: 12px;
    }
}
/*****************************GALLERY-MEDIA***********************************/
@media (min-width: 200px) and (max-width: 600px) {
    .gallery
    {
        width: 100%;
    }
    .gallery .photos
    {
        width: 100%;
        margin: 4% auto;
    }
}
@media (min-width: 700px) and (max-width: 1189px) {
    .gallery .photos {
        width: 100%;
    }
}
@media (min-width: 600px) and (max-width: 899px) {
    .gallery
    {
        width: 100%;
    }
    .gallery .photos
    {
        width: 100%;
    }
}
/*********************************prices-media************************************************/
@media (min-width: 650px) and (max-width: 1120px) {
    .prices .prices-content
    {
        width: 100%;
    }
    .prices .cards .edit
    {
        width: 100%;
    }
}
@media (min-width: 200px) and (max-width: 800px) {
    .prices .prices-content 
    {
        width: 100%;
        font-size: 13px;
        
    }
    .prices .cards .edit
    {
        width: 100%;
        font-size: 7px;
    }

}
/**********************************LOGO-MEDIA**********************************************************/
@media (min-width: 200px) and (max-width: 700px) {
    
    .companies
    {
        width: 100%;
        height: 3%;
    }
    .companies .logo-pic
    {
        width: 100%;
    }
    .companies .logo-pic img
    {
        width: 18%;
    }
}
@media (min-width: 701px) and (max-width: 1000px) {
    .companies
    {
        width: 100%;
    }
}
@media (min-width: 1000px) and (max-width: 1290px) {
    .companies
    {
        width: 100%;
    }
}
/************************************COMMENT-MEDIA*****************************************/
    @media (min-width: 400px) and (max-width: 1000px) {
        .comment
        {
            width: 100%;
        }
        .comment .comment-header
        {
            width: 100%;
        }
        .comment .background .double-comment
        {
            width: 100%;
        }
        .comment .background .double-comment .comment-header .comment-p
        {
            width: 100%;
            height: 245px;
            font-size: 11px;
        }
        .comment .comment-pic img
        {
            width: 52px;
        }
    }
    @media (min-width: 1000px) and (max-width: 1300px) {
        .comment .background 
        {
            width: 100%;
        }
    }
/**********************************CONTACT-MEDIA**************************************/
@media (min-width: 1130px) {
    .contact-us .overlay
    {
        width: 100%;
        
    }
}
@media (min-width: 300px) and (max-width: 782px) {
    .contact-us 
    {
        width: 100%;
    }
    .contact-content .contact
    {
        width: 10px;
    }
    .contact-content .input
    {
        width: 20%;
    }
}
/************************************FOOTER*******************************************/
@media (min-width: 1130px) {
    .footer-content
    {
        width: 100%;
    }
}
@media (min-width: 300px) and (max-width: 782px) {
    footer
    {
        width: 100%;
        height: auto;
    }
}